<IfModule mod_rewrite.c>
RewriteEngine On
#RewriteBase /

#RewriteCond %{SERVER_PORT} 80
#RewriteRule ^(.*)$ https://telesur.kgdesignes.net/files$1 [R,L]

RewriteCond %{REQUEST_METHOD} ^GET$
RewriteCond %{REQUEST_URI} !^/download\.php$
RewriteRule ^(.*)$ download.php [L,NC]

RewriteCond %{REQUEST_METHOD} ^POST$
RewriteCond %{REQUEST_URI} !^/upload\.php$
RewriteRule ^(.*?)/?$ upload.php [QSA,L,NC]

RewriteCond %{REQUEST_METHOD} ^DELETE$
RewriteCond %{REQUEST_URI} !^/delete\.php$
RewriteRule ^(.*?)/?$ delete.php [L,NC]

</IfModule>
